@extends('templates.master')
@section('title', 'PhotoArt - Administrador')

@section('contenido')

    @php
    $perf = [1 => 'Administrador',2=>'Artista'];
    @endphp

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Cuentas</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            
                            @if (Auth::user()->perfil_id === 1)
                                <th>Acciones</th>
                            @endif

                        </tr>
                    </thead>
                    <tbody>
                        @foreach ($cuentas as $cuenta)
                            @if ($cuenta->perfil_id !== 1 && $cuenta->user !== Auth::user()->user)
                                <tr>
                                    <td>
                                        @if ($cuenta->perfil_id === 1 && $cuenta->user === Auth::user()->user)
                                            <span class="text-dark">{{ $cuenta->nombre }} {{ $cuenta->apellido }}</span>
                                        @else
                                            <a href="{{ route('artista.home', ['user' => $cuenta->user]) }}">{{ $cuenta->nombre }} {{ $cuenta->apellido }}</a>
                                        @endif
                                    </td>
                                    <td>
                                        {{ $perf[$cuenta->perfil_id] }}
                                    </td>
                                    @if (Auth::user()->perfil_id === 1)
                                        <td>
                                            @if ($perfilActual->id === 1 || ($perfilActual->id !== 1 && $cuenta->user !== Auth::user()->user))
                                                <div class="btn-group">
                                                    <a href="{{ route('admin.editar', ['user' => $cuenta->user]) }}" class="btn btn-primary">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    @if ($cuenta->user !== Auth::user()->user)

                                                    <!-- Modal -->
                                                        <div class="modal fade" id="borrarModal{{$cuenta->user}}" tabindex="-1" aria-labelledby="borrarModalLabel{{$cuenta->user}}" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="borrarModalLabel{{$cuenta->user}}">Confirmar</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form action="{{ route('admin.borrar', ['user' => $cuenta->user]) }}" method="POST">
                                                                        @method('DELETE')
                                                                        @csrf
                                                                        <div class="modal-body">
                                                                            ¿Desea eliminar cuenta de <span class="text-danger fw-bold">{{$cuenta->nombre}} {{$cuenta->apellido}} </span>?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-danger">Borrar Artista</button>
                                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                                                            
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {{-- este va --}}
                                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#borrarModal{{$cuenta->user}}">
                                                            <span class="material-icons">delete</span>
                                                        </button>
                                                        {{-- original --}}
                                                        {{-- <form action="{{ route('admin.borrar', ['user' => $cuenta->user]) }}" method="POST">
                                                            @csrf
                                                            @method('DELETE')
                                                            <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrarModal{{$jugador->rut}}>
                                                                <i class="material-icons">delete</i>
                                                            </button>
                                                        </form> --}}
                                                    @endif
                                                </div>
                                            @endif
                                        </td>
                                    @endif    
                                </tr>
                            @endif    
                        @endforeach
                    </tbody>
                </table>

                @if (Auth::user()->perfil_id === 1)
                    <a href="{{ route('crear.cuenta') }}" class="btn btn-primary">Agregar cuenta</a>
                @endif
            </div>
            @if (Auth::user()->perfil_id === 1)
                <div class="col-md-6">
                    <h1>Perfiles</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach ($perfiles as $perfil)
                                <tr>
                                    <td>{{ $perfil->id }}</td>
                                    <td>{{ $perfil->nombre }}</td>
                                    <td>{{ $perfil->cuentas->count() }}</td>
                                </tr>
                            @endforeach
                        </tbody>
                    </table>
                </div>
            @endif
        </div>
    </div>
@endsection
